{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid mt-3" style="margin-bottom:100px;">
<img height="300px" width="100%" src="{{c.image.url}}">
<center><h1>{{c.name}}</h1>
    <p>{{c.desc}}</p>


</center>
</div>
<div class="container-fluid mt-3" style="margin-bottom:100px;">
<div class="row">
   {% for i in p %}
<div class="card bg-body" style="width: 22rem;">
  <img height="200px" width="200px" src="{{i.image.url}}" class="card-img-top" alt="...">
  <div class="card-body bg-body">
    <h5 class="card-title text-center"><b>{{i.name}}</b></h5>
    <p class="card-text text-center">{{i.price}}</p>
    <a href="{% url 'shop:details' i.name%}" class="btn btn-danger" style="position:relative;left:38%;">Details</a>
  </div>
</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {% endfor %}
</div>

</div>
{% endblock %}


