{% extends 'base.html' %}
{% load static %}


{% block content %}
<h1 xmlns="http://www.w3.org/1999/html">WELCOME TO REGISTER PAGE</h1>
<form method="POST">
  {% csrf_token %}
<div class="mb-3">
  <label  class="form-label">Username</label>
  <input type="text" class="form-control" name="u" placeholder="Enter the user name">
</div>
  <div class="mb-3">
  <label  class="form-label">password</label>
  <input type="password" class="form-control" name="p" placeholder="Enter the password">
</div>
  <div class="mb-3">
  <label  class="form-label">confirmpassword</label>
  <input type="password" class="form-control" name="cp"  placeholder="enter the password again">
</div>
    <div class="mb-3">
  <label  class="form-label">Email</label>
  <input type="email" class="form-control" name="e"  placeholder="enter the email">
</div>
  <div class="mb-3">
  <input type="submit" class="form-control">
</div>
  </form>


{% endblock %}